/* .body{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */

.body {
    margin: 5%;
    font: 100% / 1.5 Inconsolata, monospace;
    color: hsl(230, 100%, 95%);
    background-color: hsl(230, 40%, 10%);
  }
  
  .h2 {
    font-size: 3.5rem;
    font-weight: 300;
    text-shadow: 0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 60%, 0.5),
      -0.25em -0.125em 0.125em hsla(40, 100%, 60%, 0.125),
      0.25em 0.125em 0.125em hsla(200, 100%, 60%, 0.25);
  }
  
  .main {
    margin: 2rem auto 4rem;
    width: 90%;
    max-width: 70rem;
  }
  
  .span {
    font-size: 1.25rem;
    max-width: 75ch;
  }

  .heroImage {
    height: 100px;
    width: 100px;
    object-fit: cover;
    object-position: bottom left;
    margin-left: 1%;
    /* border: 1px solid wheat; */
  }

  .footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    width: 100vw;
    padding-top: 40px;
    color: #fff;
}

.footerContent{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
